body.node-type-admiral-card-horizontal,
body.node-type-admiral-card-vertical{
  #colorbox{
    left:5%!important;
    top:40px!important;
    width:90%!important;
    height:400px!important;

     #cboxWrapper,#cboxContent{
      width:100%!important;
      height:400px!important;
    }
    #cboxContent{

      height:350px!important;
    }
    #cboxLoadedContent{
      width:100%!important;
      height:350px!important;
    }
   #cboxMiddleLeft,#cboxMiddleRight{
     width:0px!important;
     display:none!important;
   }
    iframe{
    height:350px!important;
      border-top:20px solid #cccccc;
    }
  }
}

@include breakpoint($tab_landscape, true){
  body.node-type-admiral-card-horizontal,
  body.node-type-admiral-card-vertical{
    #colorbox{
      height:500px!important;

      #cboxWrapper,#cboxContent{
        height:500px!important;
      }

      #cboxLoadedContent{
        height:450px!important;
      }
      iframe{
        height:450px!important;
      }
    }
  }
}

@include breakpoint($desk, true) {
  body.node-type-admiral-card-horizontal,
  body.node-type-admiral-card-vertical{
    #colorbox{
      height:650px!important;

      #cboxWrapper,#cboxContent{
        height:650px!important;
      }
      #cboxContent{
        height:600px!important;
      }
      #cboxLoadedContent{
        height:600px!important;
      }
      iframe{
        height:600px!important;
      }
    }
  }
}