/* This is for the front page block */
.block--webform-client-block-107 {
  padding-top: 100px;
  clear: both;
  h2.block__title {
    color: $basecolor;
    line-height: 28px;
    @include font-size(26px);
  }
  .block__content {
    .form-required {
      display: none;
    }
    input#edit-submit--2 {
      width: 100%;
    }
    input#edit-submit {
      @include border-radius(6px);
      width: 100%;
      background-color: $basecolor;
    }
    .form-item-captcha-response {
      label {
        color: $white;
      }
      .field-prefix {
        display: none;
      }
      .description {
        display: none;
      }
    }
    fieldset.captcha.form-wrapper {
      span.fieldset-legend {
        color: $basecolor;
      }
      .fieldset-wrapper {
        .fieldset-description {
          color: $white;
          @include font-size(12px);
        }
        .form-item-captcha-response {
          label {
            color: $basecolor;
          }
          span.field-prefix {
            color: $white;
          }
          .description {
            color: $white;
          }
        }
      }
    }
  }

}

@include breakpoint($tab, true) {
  .block--webform-client-block-107 {
    padding-top: $vert-spacing-unit;
  }
}