/* For the page */

.page-node-107 {
  .webform-client-form-107 {
    .button--primary {
      background-color: $black;
      &:hover {
        background-color: lighten($basecolor, 25%);
      }
    }
    fieldset.captcha.form-wrapper {
      span.fieldset-legend {
        color: $white;
      }
      .fieldset-wrapper {
        .fieldset-description {
          color: $white;
          @include font-size(12px);
        }
        .form-item-captcha-response {
          label {
            color: $white;
          }
          span.field-prefix {
            color: $white;
          }
          .description {
            color: $white;
          }
        }
      }
    }
  }
}