.view-blog-listing {
  /*.padding-top: $vert-spacing-unit/2;*/
  .view-header {
    .view-meet-the-team {
      margin-bottom: $vert-spacing-unit;
      .view-content {
        display: inline-block;
        border-bottom: 1px solid $basecolor;
          padding: 0;
          .views-field-picture {
            /*display: inline-block;*/
            text-align: center;
            margin-right: $horz-spacing-unit*2;
            margin-bottom: $vert-spacing-unit;
            img {
              @include border-radius(200px);
              @include box-shadow(gray 2px 2px 15px);
            }
          }
          .views-field-created {
            margin-bottom: $vert-spacing-unit/2;
            .views-label {
              font-weight: bold;
            }
          }
          .field--name-field-team-member-info {
            padding-bottom: $vert-spacing-unit;
          }
      }
    }
  }

  .views-row {
    padding-bottom: $vert-spacing-unit*2;
    .views-field-title,
    .field--name-title-field  {
      padding: $vert-spacing-unit 0;
      a {
        @extend .beta;
        color: $basecolor;
        text-decoration: none;
        line-height: 48px;
        &:hover {
          color: lighten($basecolor, 25%);
        }
      }
    }
  }
}

@include breakpoint($tab) {
  .view-blog-listing {
    .view-header {
      .view-meet-the-team {
        margin-bottom: $vert-spacing-unit;
        .view-content {
          display: inline-block;
          border-bottom: 1px solid $basecolor;

          .views-field-picture {
            display: inline-block;
            float: left;
            margin-right: $horz-spacing-unit*2;
            margin-bottom: $vert-spacing-unit;
          }
          .views-field-created {
            margin-bottom: $vert-spacing-unit/2;
            .views-label {
              font-weight: bold;
            }
          }
        }
      }
    }
    padding-top: $vert-spacing-unit/2;
    .views-row {
      padding-bottom: $vert-spacing-unit*2;
      .views-field-title,
      .field--name-title-field  {
        padding: $vert-spacing-unit 0;
        a {
          color: $basecolor;
          text-decoration: none;
          &:hover {
            color: lighten($basecolor, 25%);
          }
        }
      }
    }
  }
}