.view-meet-the-team {
  .view-content {
    .item-list {
      ul {
        list-style-type: none;
        padding: 0;
        li.views-row {
          text-align: center;
          padding: 5px 5px $vert-spacing-unit 5px;
          .views-field-picture {
            img {
              @include border-radius(200px);
              @include box-shadow(gray 2px 2px 15px);
            }
          }
          .views-field-name {
            @include font-size(26px);
            a{
              text-decoration: none;
              display: block;
              padding: $vert-spacing-unit/2 0;
            }
          }
          .field--name-field-team-member-info {
            text-align: left;
            display: block;
            a.views-more-link {
              text-decoration: none;
              &:after {
                content: " \00bb";
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint($sml_tab_portrait, true) {
  .view-meet-the-team {
    .view-content {
      .item-list {
        ul {
          li.views-row {
            width: 50%;
            float: left;
            .views-field-picture {

            }
            .views-field-name {
              @include font-size(26px);
              a{

              }
            }
            .field--name-field-team-member-info {

            }
          }
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  .view-meet-the-team {
    .view-content {
      .item-list {
        ul {
          li.views-row {
            width: 33.3333%;
          }
        }
      }
    }
  }
}

@include breakpoint($desk, true) {
  .view-meet-the-team {
    .view-content {
      .item-list {
        ul {
          li.views-row {
            width: 25%;
          }
        }
      }
    }
  }
}