.layout-5 {
  .vert-left-panel-wrapper {

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: left;
      float: left;
    }

    .form-submit {
      float: left;
      margin-left: 40%;
    }

    .field-type-image{

    }

    .logo-wrap {
      display: inline-block;
      line-height: 250px;
      img {
        vertical-align: bottom;
      }
    }

    .field-name-admiral-left-panel-image {
      text-align: center;
      clear: both;
      margin-top: 100px;
      .form-item {
        width: 400px;
        height: 400px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {

          .image-widget-data {
            .form-file {
              margin-top: $vert-spacing-unit;
              margin-left: 85px;
            }

            .form-submit {
              margin-top: $vert-spacing-unit;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -50px;
              margin-left: 145px;
            }
          }
        }
      }
    }
  }

  /**********************   Right Panel **************/
  .vert-right-panel-wrapper {

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }

    .field-name-field-greeting {
      width: 70%;
      margin: 80px auto $vert-spacing-unit auto;
      border: 2px dashed lighten($highlight, 25%);

      .form-item {
        label {
          display: none;
        }
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 200px;
        left: 60%;
        top: 25%;
      }

      .cke_reset {
        border: none;
      }

      .cke_contents {
        height: 380px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }

    /************************Address Field *******************/

    .field-name-admiral-client-address {

      padding: 5px;
      margin-top: 50px;
      width: 33.333%;
      float:left;
      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          display: none;
        }

      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 196px;
        left: 60%;
        top: 55%;
      }

      .cke_contents {
        height: 196px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }

    /************************Centre Image Bottom *******************/

    .field-name-admiral-right-panel-centre-image {
      padding: 5px;
      width: 33.333%;
      float:left;
      margin-top: 50px;
      .form-item {
        height: 200px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }


    /************************Left Image Bottom *******************/
    .field-name-admiral-right-panel-left-image {
      padding: 5px;
      width: 33.3333%;
      float: left;
      margin-top: 50px;
      .form-item {
        height: 200px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }

    /************************Right Image Bottom *******************/
    .field-name-admiral-right-panel-right-image {
      padding: 5px;
      width: 33.3333%;
      float: left;
      margin-top: 50px;
      .form-item {
        height: 200px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }

  }
}