.layout-6 {

  /**********************   Right Panel **************/
  .vert-right-panel-wrapper {

    /*Hide Show Elements */
    .field-name-admiral-right-panel-main,
    .field-name-admiral-right-panel-right-image,
    .field-name-admiral-right-panel-centre-image {
      display: none;
    }

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }

    .field-name-field-greeting {
      width: 464px;
      margin: 328px auto 29px auto;
      border: 2px dashed lighten($highlight, 25%);

      .form-item {
        label {
          color:#b779e8;
          position: absolute;
        }
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 200px;
        left: 60%;
        top: 25%;
        display: none;
      }

      .cke_reset {
        border: none;
      }

      .cke_contents {
        height: 116px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }





    .field-name-admiral-right-panel-signature {

      .ajax-new-content {
        display:none!important;
      }

      width: 385px;
      margin: 5px auto 0 auto;
      .form-item {
        height: 160px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {

            &:nth-child(2) {
              margin-top: -40px;
            }

            margin-left: 110px;
            margin-top: 10px;
            width: 150px;


            .form-submit {
              margin-left: 20px;
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }


    .field-name-admiral-right-panel-left-image {

      .ajax-new-content {
        display:none!important;
      }

      width: 188px;
      float:left;
      margin-left: 26px;
      margin-top: 132px;
      .form-item {
        height: 98px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {

          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-file {
              width: 95%;
            }

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }

    .field-name-admiral-client-address {
      width: 215px;
      float: right;
      margin-right: 26px;
      margin-top: 132px;
      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          @include font-size(12px);
          color:#b779e8;
          position: absolute;
        }

      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 196px;
        left: 60%;
        top: 55%;
        display: none;
      }

      .cke_contents {
        height: 109px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }
  }
}