.block--block-3 {
  padding: 10px;
  h2.block__title {
    color: $white;
    @include font-size(48px);
    line-height: 48px;
    font-weight: normal;
    margin-bottom: $vert-spacing-unit;
    margin-top: $vert-spacing-unit;
  }
  .block__content {
    p {
      color: $white;
    }
    a {
      @include link-colors($white, $highlight, $white, $white, $white);
      text-decoration: none;
    }

  }
}