.block--admiral-countdown {
  .countdown-wrap {
    padding: 5px 0;
    .count-total {
      display: inline-block;
      color: rgba(lighten($basecolor, 10%), 0.6);
      font-family: $kreon;
      line-height: 36px;
      @include font-size(28px);
      margin-left: 15px;
    }
    .count-text {
      display: inline-block;
      color: rgba(lighten($basecolor, 10%), 0.6);
      font-family: $kreon;
      @include font-size(28px);
      line-height: 36px;
      padding-left: $horz-spacing-unit/2;
    }
  }
}
@include breakpoint($tab, true) {
  .block--admiral-countdown {
    float: right;
    padding-right: 25px;
    .countdown-wrap {
      padding: 5px 0;
      .count-total {
        display: inline-block;
        color: rgba(lighten($basecolor, 10%), 0.6);
        font-family: $kreon;
        line-height: 36px;
        @include font-size(32px);
      }
      .count-text {
        display: inline-block;
        color: rgba(lighten($basecolor, 10%), 0.6);
        font-family: $kreon;
        @include font-size(32px);
        line-height: 36px;
        padding-left: $horz-spacing-unit/2;
        margin-left: 0;
      }
    }
  }
}