.block--views-shopping-cart-block {
  background-image: url("../images/small-shopping-icon.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
  margin-left: -60px;
  padding-left: 50px;
  float: right;
  h2.block__title {
    display: none;
  }
  .block__content {

    .view-shopping-cart {
      .view-empty {
        display: inline;
      }
      .view-empty p {
        float: left;
        line-height: 36px;
        margin-bottom: 0;
      }
      .line-item-summary {
        display: inline;
        float: left;
        height: 38px;
        line-height: 36px;
        margin: 0;
        .line-item-total {
          color: $highlight;
          float: left;
          height: 100%;
          line-height: 36px;
          padding: 0 12px 0 6px;
        }
        .line-item-total-label {
          display: none;
        }
      }
      ul.links {
        background-color: $basecolor;
        @include border-radius(5px);
        clear: none;
        display: block;
        float: left;
        height: 100%;
        line-height: 36px;
        margin: 0 0 0 5px;
        padding: 0 10px;
        &:hover {
          background: $highlight;
        }
        li {
          margin: 0;
          padding: 0;

          a {
            color: white;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

}
