.layout-10 {
  /**********************   Right Panel **************/
  .horz-right-panel-wrapper {


    //.field-name-admiral-right-panel-signature,
    .field-name-admiral-right-panel-main,
    .field-name-admiral-right-panel-left-image,
    .field-name-admiral-right-panel-centre-image {
      display: none;
    }


    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }



    .field-name-admiral-right-panel-signature {
      .ajax-new-content {
        display:none!important;
      }
      width: 375px;
      margin: 10px auto 0 auto;

      .form-item {
        height: 158px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display:none;
        }



        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {

            &:nth-child(2) {
              margin-top: -40px;
            }

            margin-left: 110px;
            margin-top: 10px;
            width: 150px;

            .form-submit {
              margin-left: 20px;
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }

    .field-name-field-greeting {
      width: 718px;
      margin: 216px auto 0 auto;
      border: 2px dashed lighten($highlight, 25%);

      .form-item {
        label {
          color:#b779e8;
          position: absolute;
        }
      }

      .cke_top {
        display: none;
        position: fixed;
        width: 335px;
        margin-left: -167px;
        left: 50%;
        top: 10%;
        border: 10px solid #868686;
        border-radius: 12px;
      }

      .cke_reset {
        border: none;
      }

      .cke_contents {
        height: 120px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }


    .field-name-admiral-client-address {

      margin-top: 68px;
      width: 302px;
      float:left;
      margin-left: 26px;
      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          color:#b779e8;
          position: absolute;
        }
      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        display: none;
        position: fixed;
        width: 335px;
        margin-left: -167px;
        left: 50%;
        top: 20%;
        border: 10px solid #868686;
        @include border-radius(12px);
      }

      .cke_contents {
        height: 95px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }



    .field-name-admiral-right-panel-right-image {
      width: 188px;
      float:right;
      margin-right: 26px;
      margin-top: 68px;
      .form-item {
        height: 96px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .form-file {
              width: 95%;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }
  }
}