.block--menu-secondary-navigation {

  @extend %hlist;
  display: none;
  ul.menu {
    padding: 0;
    margin: 0;
    li {
      display: block;
      @include font-size(24px);
      font-weight: 800;
      float: none;
    }
    a {
      @include font-size(16px);
      text-decoration: none;
    }
  }
}


@include breakpoint($tab, true) { //600
  .block--menu-secondary-navigation {
    display: block;
    float: right;
    padding-top: 40px;
    ul.menu {
      li {
        color: $basecolor;
        font-weight: 800;
        padding: 0.2em;
        float: left;

        &:after {
          content: "|";
        }
        a {
          padding-right: 0.5em;
        }
      }
      li.last {
        &:after {
          display: none;
        }
      }
    }
  }
}
