<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;margin:1%;padding:0px;background:rgb(246,246,246);">
    <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
        <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="10" cellspacing="0" style="border:1px solid rgb(224,224,224);background:rgb(255,255,255);margin:1%;width:650px;">
                    <tbody>
                    <tr>
                        <td><a href="[site:url]" target="_blank"><img alt="Admiral Charity Cards" src="[site:url]sites/default/files/Admiral-Charity-Card-Logo_0.png" style="margin-bottom:10px" /></a></td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Hello, [commerce-order:commerce-customer-shipping:owner]</h3>

                            <p>Thank you for your order. If you have any questions about your order please contact us at <a href="mailto:sales@admiralcharitycards.org" style="color:rgb(30,126,200)" target="_blank">sales@admiralcharitycards.org</a> or call us at <a href="tel:%2B44%20%280%2920%207610%206193" target="_blank">+44 (0)20 7610 6193</a> Monday - Friday, 9am - 5.30pm GMT.</p>

                            <div class="gmail_default" style="font-size:12px;line-height:16px;display:inline">If this is your first order with us, you will receive a separate email with login instructions. You can view your order history with us at any time by logging into our website at: <a href="[site:url]account">[site:url]account</a> You can view the status of your current order at: <a href="[site:url]admin/commerce/orders/[commerce-order:order-id]">[site:url]admin/commerce/orders/[commerce-order:order-id]</a>

                                <div class="gmail_default" style="display:inline">&nbsp;</div>
                                Your order details are below.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Order #[commerce-order:order-id] (placed on [commerce-order:changed])</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="width:650px;">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px;line-height:1em">Billing Information:</th>
                                    <th width="2">&nbsp;</th>
                                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px;line-height:1em">Payment Method:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" width="325" style="font-size:12px;padding:7px 9px 9px;border-left-width:1px;border-left-style:solid;border-left-color:rgb(234,234,234);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);border-right-width:1px;border-right-style:solid;border-right-color:rgb(234,234,234);">[commerce-order:commerce_customer_billing]</td>
                                    <td>&nbsp;</td>
                                    <td valign="top" width="325" style="font-size:12px;padding:7px 9px 9px;border-left-width:1px;border-left-style:solid;border-left-color:rgb(234,234,234);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);border-right-width:1px;border-right-style:solid;border-right-color:rgb(234,234,234);">
                                        <p>[commerce-order:payment-method-title] [commerce-order:po-number]</p>
                                        <p>Order Source: [commerce-order:order-source]</p>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>


                            <table border="0" cellpadding="0" cellspacing="0" style="width:650px">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px;line-height:1em">Shipping Information:</th>
                                    <th>&nbsp;</th>
                                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px;line-height:1em">Shipping Method:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px;border-left-width:1px;border-left-style:solid;border-left-color:rgb(234,234,234);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);border-right-width:1px;border-right-style:solid;border-right-color:rgb(234,234,234)">[commerce-order:commerce_customer_shipping]</td>
                                    <td>&nbsp;</td>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px;border-left-width:1px;border-left-style:solid;border-left-color:rgb(234,234,234);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);border-right-width:1px;border-right-style:solid;border-right-color:rgb(234,234,234)">[commerce-order:shipping-method]</td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>

                            <table border="0" cellpadding="2" cellspacing="0" style="border:0px solid rgb(234,234,234); width:650px">
                                <thead>
                                <tr>
                                    <th align="left" bgcolor="#EAEAEA" class="email-products-title">Product</th>
                                    <th align="left" bgcolor="#EAEAEA" class="email-products-title">PDF Link</th>
                                    <th align="left" bgcolor="#EAEAEA" class="email-products-title">Unit price</th>
                                    <th align="left" bgcolor="#EAEAEA" class="email-products-title">Qty</th>
                                    <th align="left" bgcolor="#EAEAEA" class="email-products-title">Total Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                [commerce-order:commerce_line_items]


                                </tbody>
                            </table>
                            [commerce-order:commerce-email-order-items]

                    </tr>
                    <tr>
                        <td style="text-align:center;background:rgb(234,234,234);">
                            <p><strong>Admiral Charity Cards</strong></p>
                            <span style="color:rgb(34,34,34); font-size:small">Victory House, 26 Denington Road, Wellingborough, Northamptonshire, NN8 2QH, England</span>
                            <p><span style="color:rgb(34,34,34); font-size:small">Tel : 0207 610 6193</span></p>
                            <p><span style="color:rgb(34,34,34); font-size:small">sales@admiralcharitycards.org</span></p>
                            <p><span style="color:rgb(34,34,34); font-size:small">Admiral Charity Cards is a trading division of Admiral Printers Ltd.</span><br/>
                                <span style="color:rgb(34,34,34); font-size:small">Company registered in England &amp; Wales No. 4558794</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>